* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #C76104;
    --blue: #022A43;
    --yell: #E99B06;
    --writ: #fff;


}

body {

    background-color: var(--orange);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 100px 20px 100px;
}

/*start*/
.container-header {
    display: flex;
    align-items: center;
    gap: 15px;


}

.container-header img {
    display: flex;
    align-items: center;
    width: 60px;
    gap: 18px;
    cursor: pointer;
    transition: all 5s;
    animation: rotation 5s ease-in-out infinite;
}

@keyframes rotation {
    0% {
        rotate: 0deg;

    }

    50% {

        rotate: 360deg;
    }

    100% {
        rotate: 360deg;
        ;

    }
}

.poke {
    display: flex;
    color: var(--writ);
    text-align: center;
    text-decoration: none;
    gap: 18px;
}

/*header the and*/



/*start*/
.manin-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;


}

.manin-container h1 {
    display: flex;
    align-items: center;
    color: var(--yell);
    justify-content: center;
    font-size: 180px;
    position: absolute;

}

.manin-container h2 {
    color: var(--writ);
    font-size: 110px;
    top: 348px;
    position: absolute;
}

.manin-container img {
    position: absolute;
    width: 568px;
    height: 680px;
    bottom: 20px;
    transform: scaleX(-1);
    transition: all, .5s;
    animation: float 5s ease-in-out infinite;

}

@keyframes float {
    0% {
        transform: translateY(0px);

    }

    50% {
        transform: translateY(-30px);

    }

    100% {
        transform: translateY(0px);

    }
}

.manin-container h3 {

    color: var(--blue);
    align-items: center;
    font-size: 30px;
    position: absolute;
    top: 460px;
    left: 195px;


}

.text {
    display: flex;
    align-items: center;
    position: relative;
    color: var(--blue);
    width: 300px;
    height: 150px;
    top: 150px;
    left: -330px;
}

.down {
    position: absolute;
    align-items: center;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: var(--writ);
    font-size: 36px;
    background-color: var(--blue);
    bottom: 150px;
    left: 1000px;
    transition: all, 3s;

}

.down:hover {
    background-color: var(--writ);
    color: var(--blue);
}

/*main the and*/



/*start*/
footer {
    text-align: center;
    color: var(--yell);
    font-size: 500;
}

/*footer the and*/

@media screen and (max-width:768px) {

    .container-header img {
        display: flex;
        align-items: center;
        width: 30px;
        gap: 18px;
        cursor: pointer;

    }


    .manin-container h1 {
        display: flex;
        align-items: center;
        color: var(--yell);
        justify-content: center;
        font-size: 60px;
        position: absolute;

    }

    .manin-container h2 {
        color: var(--writ);
        font-size: 40px;
        top: 380px;
        position: absolute;
    }

    .manin-container h3 {
        display: flex;
        align-items: center;
        color: var(--blue);
        align-items: center;
        font-size: 15px;
        position: absolute;
        top: 560px;
        left: 98px;
    }

    .down {
        position: absolute;
        align-items: center;
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        color: var(--writ);
        font-size: 36px;
        background-color: var(--blue);
        bottom: 20px;
        left: 50px;
    }

    .text {
        display: flex;
        position: relative;
        color: var(--blue);
        width: 220px;
        height: 130px;
        top: 220px;
        left: -1px;
    }

    .manin-container img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 400px;
        height: 450px;
        bottom: 150px;
        transform: scaleX(-1);

    }

    footer {
        position: absolute;
        color: var(--yell);
        font-size: 300;
        width: 250px;
        bottom: -5px;
        left: 25px;
       

    }
}